# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
_ReSharper.*
Debug/
*.opensdf
*.user
HostsMergeCmd/hosts.download
*.suo
*.sdf
*.lnt
*.ipch
Visual Lint/*
HostsMergeCmd/wpad.dat
HostsMergeCmd/hosts.bad
HostsMergeCmd/hosts.cache
HostsMergeCmd/named.conf.banned
HostsMergeCmd/Release/*
Release/HostsMergeCmd.exe.lastcodeanalysissucceeded
Release/*
